<!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-toolbar (toggleNav)="sidenav.toggle()"> </app-toolbar>
 <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()" #navButton id="navButton"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Cameron Scott</h1>
  </mat-toolbar> -->

  <!--
  <mat-sidenav-container class="example-sidenav-container">

      <mat-sidenav class="mat-sidenav" #sidenav [fixedInViewport]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" fixedTopGap="56" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">

        <app-nav (toggleNav)="sidenav.close()"></app-nav>
      </mat-sidenav>

      <mat-sidenav-content [class.mat-content]="opened">
          <router-outlet></router-outlet>
 <app-home></app-home>
 <exchange-rates></exchange-rates>
      </mat-sidenav-content>

  </mat-sidenav-container>
</div> -->
<!-- <app-particle-background></app-particle-background> -->

<!-- <div class="vertical-nav bg-white"  [ngClass]="navbarActive ? 'disable' : ''" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">Jason Doe</h4>
        <p class="font-weight-light text-muted mb-0">Web developer</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Home
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                About
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Services
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                Gallery
            </a>
    </li>
  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                Area charts
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                Bar charts
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                Pie charts
            </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                Line charts
            </a>
    </li>
  </ul>
</div> -->

<app-nav [navbarActive]="navbarActive" #sidenav></app-nav>
<!-- End vertical navbar -->

<div class="page-content p-2" id="content">
  <!-- Toggle button -->
  <button [hidden]="hideButton" id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm" (click)="sidenav.toggleNav(); $event.stopPropagation()"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

<router-outlet></router-outlet>
</div>


